.progress-gradient {
  background: linear-gradient(to right, #90ef89, #d692dd, #726edd);
}

.top-glow {
  box-shadow: 0 -26px 20px rgba(243, 186, 47, 0.3);
}

/* Define the keyframes for the blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Apply the animation to the dot class */
.dot {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: blink 1s infinite;
}

.circle-outer {
  background: linear-gradient(to bottom, #575def, #202731);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vw;
  max-width: 360px;
  max-height: 360px;
}

.circle-inner {
  background: radial-gradient(circle, #4960b2, #282e3e);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0 -10px 20px rgba(243, 186, 47, 0.5), 0 -20px 40px rgba(255, 87, 51, 0.5), 0 -30px 60px rgba(255, 189, 105, 0.5);
  }
  50% {
    box-shadow: 0 -10px 20px rgba(106, 130, 251, 0.7), 0 -20px 40px rgba(52, 232, 158, 0.7), 0 -30px 60px rgba(244, 92, 67, 0.7);
  }
  100% {
    box-shadow: 0 -10px 20px rgba(243, 186, 47, 0.5), 0 -20px 40px rgba(255, 87, 51, 0.5), 0 -30px 60px rgba(255, 189, 105, 0.5);
  }
}

.gradient-effect {
  background: linear-gradient(90deg, #f3ba2f, #ff5733, #ffbd69, #34e89e, #6a82fb, #f45c43, #f3ba2f);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite, glowAnimation 8s ease infinite; /* Thêm glowAnimation */
  border-radius: 48px 48px 0 0; /* Top rounded */
  position: relative;
}

.shadow-effect {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0 8px 16px rgba(255, 255, 255, 0.08), 0 8px 16px rgba(255, 255, 255, 0.2);
}

